body {
  background-image: url("images/ter-cela-whUzlCcvf4s-unsplash-crop.jpg");
  background-repeat: repeat-x;
}
h2, h3 {
	background-color: #e5c208;
	text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
tr,td {
	spacing: 0px;
	background-color: #e5c208;
}
video {
	display: block;
	margin: auto;
}